<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="co.hipstercoding.dev.papaya2">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/CustomTheme">
        <activity
            android:name="co.hipstercoding.dev.papaya2.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/CustomTheme">

            <meta-data
                android:name="android.app.default_searchable"
                android:value=".SearchableActivity" />
        </activity>
        <activity
            android:name="co.hipstercoding.dev.papaya2.TourActivity"
            android:label="@string/about_us_app_title"
            android:theme="@style/CustomTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <provider
            android:name="co.hipstercoding.dev.papaya2.data.FridgeContentProvider"
            android:authorities="com.hipstercoding.dev.papaya2"
            android:exported="true" />

        <activity
            android:name="co.hipstercoding.dev.papaya2.settings.SettingsActivity"
            android:label="@string/label_settings"
            android:parentActivityName="co.hipstercoding.dev.papaya2.MainActivity"
            android:theme="@style/CustomTheme.ActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="co.hipstercoding.dev.papaya2.MainActivity" />
        </activity>
        <activity
            android:name="co.hipstercoding.dev.papaya2.DetailActivity"
            android:parentActivityName="co.hipstercoding.dev.papaya2.MainActivity"
            android:theme="@style/CustomTheme.ActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="co.hipstercoding.dev.papaya2.MainActivity" />
        </activity>
        <activity
            android:name="co.hipstercoding.dev.papaya2.SearchResultActivity"
            android:parentActivityName="co.hipstercoding.dev.papaya2.MainActivity"
            android:theme="@style/CustomTheme.ActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="co.hipstercoding.dev.papaya2.MainActivity" />
        </activity>

        <service
            android:name="co.hipstercoding.dev.papaya2.services.NotificationService"
            android:exported="false" />

        <receiver android:name="co.hipstercoding.dev.papaya2.FoodWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/food_widget_info" />
        </receiver>

        <service
            android:name="co.hipstercoding.dev.papaya2.services.GridWidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS" />
        <service
            android:name="co.hipstercoding.dev.papaya2.services.WidgetService"
            android:exported="false"></service>
    </application>

</manifest>